.ecosystems {
  background-color: var(--color-canvas-default);
	border-top: solid 1px var(--color-border-muted);
	bottom: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	display: block;
	font-size: 30px;
	padding: 1px 4rem 10px;
	position: fixed;
	left: 0;
  width: 100%;
  text-align: center;
	z-index: 99999;
}

.ecosystems .btn.disable {
  opacity: 0.5;
  pointer-events: none;
}

.dark.ecosystems img, #ecosystems-login.dark img{
  filter: invert(97%) sepia(12%) saturate(241%) hue-rotate(214deg) brightness(116%) contrast(87%);
}

.ecosystems .btn img{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 8px;
  width: 16px;
  height: 20px;
  vertical-align: middle;
}

#ecosystems-next img{
  margin-left: 8px;
  margin-right: 0;
}

#ecosystems-logo{
  display: inline-block;
  height: 20px;
  position: absolute;
  left: 20px;
}
